<%- include("partials/header.ejs") %>
<link rel="stylesheet" href="styles/blog.css">

<nav>
    <div class="nav-bar-container">
        <a href="/"><h2>RetroBlog</h2></a>
        <div>
            <a href="/creator">Creator</a>
            <a href="" id="compose" onclick="event.preventDefault();">Compose</a>

            <section id="compose-screen" style="display: none;">

                <div class="compose-screen">
                    <form method="POST" action="/submit">
                        <span id="close-compose" class="circular_button"></span>
                        <label for="title">Title</label>
                        <input required type="text" placeholder="Title" name="title" id="title"><br>
                        <label for="description">Description</label>
                        <input required type="text" placeholder="Description" name="description" id="description"><br>
                        <label for="content">Content</label>
                        <textarea required name="content" id="content"></textarea>
                        <input class="button" type="submit" value="OK">
                    </form>
                </div>
        
            </section>

            <label class="switch">
                <input type="checkbox" id="light_dark_mode">
                <span class="slider round"></span>
            </label>
        </div>
    </div>
</nav>


<main class="container">

    <section class="posts">
        <% if(locals.post_list){ %>
            <% for(let i = 0; i < locals.post_list.length; i++) { %>
                <div class="post">
                    <div style="display: flex; justify-content: space-between; align-items: center; text-align: center; margin-bottom: 1.3rem;">
                        <h2><%= locals.post_list[i].title %></h2>
                        <div style="display: flex; gap: 0.5rem;">
                            <span id="edit-post" class="circular_button" style="margin-top: 0; background-color: #ff9d00;"></span>
                            <form method="POST" action="/delete">
                                <input style="display: none;" name="id" id="id" value="<%= locals.post_list[i].id %>">
                                <button id="delete-post" class="circular_button" style="margin-top: 0;"></button>
                            </form>
                        </div>
                    </div>
                    <p><%= locals.post_list[i].description %></p>
                    <p><%= locals.post_list[i].content %></p>
                </div>
            <% } %>
        <% } %>
    </section>

</main>

<script src="../js/main.js"></script>