<%- include("partials/header.ejs") %>
<link rel="stylesheet" href="styles/blog.css">

<nav>
    <div class="nav-bar-container">
        <a href="/"><h2>RetroBlog</h2></a>
        <div>
            <a href="/creator">Creator</a>
            <a href="" id="compose" onclick="event.preventDefault();">Compose</a>

            <section id="compose-screen" style="display: none;">

                <div class="compose-screen">
                    <form method="POST" action="/submit">
                        <span id="close-compose" class="circular_button"></span>
                        <label for="title">Title</label>
                        <input required type="text" placeholder="Title" name="title" id="title"><br>
                        <label for="description">Description</label>
                        <input required type="text" placeholder="Description" name="description" id="description"><br>
                        <label for="content">Content</label>
                        <textarea required name="content" id="content"></textarea>
                        <input class="button" type="submit" value="OK">
                    </form>
                </div>
        
            </section>

            <label class="switch">
                <input type="checkbox" id="light_dark_mode">
                <span class="slider round"></span>
            </label>
        </div>
    </div>
</nav>

<main>
    <form method="POST" action="/post_edit" class="edit_screen">
        <label for="title">Title</label>
        <input required type="text" placeholder="Title" name="title" id="title" value="<%= locals.title %>"><br>
        <label for="description">Description</label>
        <input required type="text" placeholder="Description" name="description" id="description" value="<%= locals.description %>"><br>
        <label for="content">Content</label>
        <textarea required name="content" id="content"><%= locals.content %></textarea>
        <input type="number" name="id" value="<%= locals.postId %>" style="display: none;">
        <input class="button" type="submit" value="OK">
    </form>
</main>

<script src="../js/main.js"></script>